#header{
    border: 5px solid grey;
}
#headers{
    background-color:#335282 ;
    border: 5px solid grey;
}
#nav-buttons{
    border: 2px solid lightgray;
}
#h-content{
    color: white;
}


#card-body-colour,#card-body-colour1,#card-body-colour2,#card-body-colour3,#card-body-colour4{
    background-color: lightblue;
}

#Customer,#Items,#Orders,#Order_details{
    background-color: lightgray;
}

#table1,#table2,#table3{
    background-color: lightgray;
    border: grey;
}

#c-content,I-content,O-content,od-Content{
    font-family: "Baskerville Old Face";
}
#order-card-content,#order-card-content1{
    font-family: "Bernard MT Condensed";
}
#lable1,#lable2,#lable3,#lable4,#lable5,#lable6,#lable7,#lable8,#lable9,#lable10{
    font-family: "Bell MT";
    font-size: 24px;
}

#t1,#t2,#t3,#t4,#t5,#t6,#it1,#it2,#it3,#it4,#it5,#ot1,#ot2,#ot3,#ot4,#ot5,#ot6{
    font-family: "Bell MT";
    font-size: 24px;
}

#Oc1,#Oc2,#Oc3,#Oc4,#Oc5,#Oc6,#Oc7{
    font-family: "Bell MT";
    font-size: 24px;
}